<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- <meta name="google-signin-client_id" content="1070723419509-ig3u8aapsfjn9ge421rervobr8409qtf.apps.googleusercontent.com"> -->
				<!-- <link rel="stylesheet" href="/css/swiper.css"> -->
				<link rel="stylesheet" href="/css/chelinguide.css">
        <!-- <link rel="stylesheet" href="/css/avail_area.css"> -->
        <!-- CSS stylesheet for sliding-swipe-menu -->
        <!-- <link rel="stylesheet" href="/css/slide-and-swipe-menu.css"> -->
        <!-- <link rel="stylesheet" href="/css/bootstrap-toggle.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body>
      <div id="chelinguide-room">
        <div class="avail-screen">
          <div id="back-to-lobby" class="back-button-lobby"></div>
          <div id="contents-bar" class="avail-bar">슐랭 가이드</div>
          <div id="category-bar" class="select-bar">
            <input id="place" class="place" type="text" placeholder="서울" disabled>
            <input id="place-detail" class="place-detail" type="text" placeholder="강남역" disabled>
            <span class="place-list-button" id="place-list-button" data-toggle="modal" data-target="#place-list" >
              <b class="fas fa-chevron-down">
                ▼
              </b>
            </span>
            <div class="modal fade bd-example-modal-sm" id="place-list" tabindex="-1" role="dialog" aria-labelledby="placeList" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content btn-group-vertical">
                        <div class="modal-body">
                            <button class="place-btn" onclick="sortBySubway(0)" data-dismiss="modal" aria-label="Close">강남역 </button>
                            <button class="place-btn" onclick="sortBySubway(1)" data-dismiss="modal" aria-label="Close">선릉역</button>
                            <button class="place-btn" onclick="sortBySubway(2)" data-dismiss="modal" aria-label="Close">삼성역</button>
                        </div>
                    </div>
                </div>
            </div>

            <input id="order" class="order" type="text" placeholder="별점순" disabled>
            <span class="order-list-button" id="order-list-button" data-toggle="modal" data-target="#order-list">
              <b class="fas fa-chevron-down">
                ▼
              </b>
            </span>
            <div class="modal fade bd-example-modal-sm" id="order-list" tabindex="-1" role="dialog" aria-labelledby="orderList" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content btn-group-vertical">
                        <div class="modal-body">
                            <button class="order-btn" onclick="selectSortBy(0)" data-dismiss="modal" aria-label="Close">별점순 </button>
                            <button class="order-btn" onclick="selectSortBy(1)" data-dismiss="modal" aria-label="Close">최신순</button>
                            <button class="order-btn" onclick="selectSortBy(2)" data-dismiss="modal" aria-label="Close">이름순</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>

          <div id="function-bar" class="function-bar">
            <span class="function-button" id="share-function-button">
              공유하기
            </span>
            <img src="/images/main-06.png" class="function-icon" id="share-function-icon">

            <div class="null-function-button"></div>

            <div class="function-button" id="add-function-button" data-toggle="modal" data-target="#plus-list">
              추가하기
            </div>
            <img src="/images/main-05.png" class="function-icon" id="add-function-icon">


            <!-- 일반 추가하기 -->
            <div class="modal fade" id="plus-list" tabindex="-1" role="dialog" aria-labelledby="plusList" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">슐랭 가이드 추가하기</h5>
                      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button> -->
                    </div>
                    <div class="modal-body">
                      <div class="modal-subway">
                        <div class="modal-subway-left">서울</div>
                        <select id="modal-subway-right" name="modal-subway-right" class="modal-subway-right">
                          <option value="">역 선택</option>
                          <option value="강남역">강남역</option>
                          <option value="선릉역">선릉역</option>
                          <option value="삼성역">삼성역</option>
                        </select>
                      </div>
                      <div class="modal-resname">
                        <div class="modal-resname-left">상호</div>
                        <input id="res-name" class="modal-resname-right" type="text">
                      </div>
                      <div class="modal-score">
                        <div class="modal-score-left">평점</div>
                        <div class="modal-score-right">
                          <!-- <img id="score-image" src="/images/0점.png"> -->
                          <div class="starRev">
                            <span class="starR1">별1_왼쪽</span>
                            <span class="starR2">별1_오른쪽</span>
                            <span class="starR1">별2_왼쪽</span>
                            <span class="starR2">별2_오른쪽</span>
                            <span class="starR1">별3_왼쪽</span>
                            <span class="starR2">별3_오른쪽</span>
                            <span class="starR1">별4_왼쪽</span>
                            <span class="starR2">별4_오른쪽</span>
                            <span class="starR1">별5_왼쪽</span>
                            <span class="starR2">별5_오른쪽</span>
                          </div>
                        </div>
                      </div>
                      <div class="modal-comment">
                        <div class="modal-comment-left">한줄평</div>
                        <input id="comment" class="modal-comment-right" type="text">
                      </div>
                      <div class="modal-comment-detail"><span>더 자세히 평가할래요!</span></div>
                    </div>
                    <div class="modal-footer">
                      <div class="final-btn">
                        <div id="upload-btn" class="upload-btn" data-dismiss="modal">등록</div>
                      <!-- <button type="button" class="upload-btn" data-dismiss="modal">등록</button> -->
                        <div id="cancel-btn" class="cancel-btn" data-dismiss="modal">취소</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <!-- 더 자세히 추가하기 -->
            <div class="modal fade" id="detail-plus-list" tabindex="-1" role="dialog" aria-labelledby="detailPlusList" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <div id="back-to-modal" class="back-button-modal"></div>
                      <h5 class="modal-title" id="exampleModalLabel">자세히 추가하기</h5>
                    </div>
                    <div class="modal-body">

                      <div class="modal-picture">
                        <div class="modal-picture-left">
                          <img id="picture-image" src="/images/add8.png">
                        </div>
                        <div class="modal-picture-right">
                          <div class="modal-picture-right-text">직접 찍은 사진을 등록해주세요!</div>
                          <input type="file" class="modal-picture-right-file" multiple name="file" id="file" />
                          <!-- <input type="file" class="modal-picture-right-file" id"getfile"></input> -->
                        </div>
                      </div>

                      <div class="modal-mood">
                        <div class="modal-mood-title">분위기</div>
                        <div class="modal-mood-item3">
                          <button type="button" class="messaging-button-checkbox" value="데이트">데이트</button>
                          <button type="button" class="messaging-button-checkbox" value="직장인">직장인</button>
                          <button type="button" class="messaging-button-checkbox" value="친구">친구</button>
                        </div>
                        <div class="modal-mood-item3">
                          <button type="button" class="messaging-button-checkbox" value="고급진">고급진</button>
                          <button type="button" class="messaging-button-checkbox" value="허름한">허름한</button>
                          <button type="button" class="messaging-button-checkbox" value="깔끔한">깔끔한</button>
                        </div>
                        <div class="modal-mood-item1">
                          <button type="button" class="messaging-button-checkbox" value="인테리어가 독특한">인테리어가 독특한</button>
                        </div>
                        <div class="modal-mood-item2">
                          <button type="button" class="messaging-button-checkbox" value="조용한">조용한</button>
                          <button type="button" class="messaging-button-checkbox" value="시끄러운">시끄러운</button>
                        </div>
                        <div class="modal-mood-item2">
                          <button type="button" class="messaging-button-checkbox" value="친절한">친절한</button>
                          <button type="button" class="messaging-button-checkbox" value="불친절한">불친절한</button>
                        </div>
                      </div>

                      <div class="modal-price">
                        <div class="modal-price-title">1인가격</div>
                        <div class="modal-price-content">
                          <div class="price-row">
                            <img class="checkbox-img" value="1만원 미만" src="/images/cb.png">
                            <div>1만원 미만</div>
                          </div>
                          <div class="price-row">
                            <img class="checkbox-img" value="1만원 대" src="/images/cb.png">
                            <div>1만원 대</div>
                          </div>
                          <div class="price-row">
                            <img class="checkbox-img" value="2~3만원 대" src="/images/cb.png">
                            <div>2~3만원 대</div>
                          </div>
                          <div class="price-row">
                            <img class="checkbox-img" value="4만원 이상" src="/images/cb.png">
                            <div>4만원 이상</div>
                          </div>
                        </div>
                      </div>
                    </div>



                    <div class="modal-footer">
                      <div class="final-btn">
                        <div id="upload-detail-btn" class="upload-btn" data-dismiss="modal">등록</div>
                        <div id="cancel-detail-btn" class="cancel-btn" data-dismiss="modal">취소</div>
                      </div>
                    </div>
                </div>
              </div>
            </div>


          </div>
          <!-- 수정하기 -->
          <div class="modal fade" id="modal-modify" tabindex="-1" role="dialog" aria-labelledby="modalModify" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                    <div id="back-to-modal" class="back-button-modal"></div>
                    <h5 class="modal-title" id="exampleModalLabel">수정하기</h5>
                  </div>
                  <div class="modal-body">

                    <div class="modal-picture">
                      <div class="modal-picture-left">
                        <img id="picture-image" src="/images/add8.png">
                      </div>
                      <div class="modal-picture-right">
                        <div class="modal-picture-right-text">직접 찍은 사진을 등록해주세요!</div>
                        <input type="file" class="modal-picture-right-file" multiple name="file" id="file" />
                        <!-- <input type="file" class="modal-picture-right-file" id"getfile"></input> -->
                      </div>
                    </div>
                    <div class="modal-res-name">
                      <div class="modal-res-name-title">상호</div>
                      <div class="modal-res-name-content">
                        <input class="res-name-input" type="text" value="원래식당명" maxlength="40">
                      </div>
                    </div>

                    <div class="modal-rating">
                      <div class="modal-rating-title">평점</div>
                      <div class="modal-rating-starRev">
                        <div class="starRev">
                          <span class="starR1-big">별1_왼쪽</span>
                          <span class="starR2-big">별1_오른쪽</span>
                          <span class="starR1-big">별2_왼쪽</span>
                          <span class="starR2-big">별2_오른쪽</span>
                          <span class="starR1-big">별3_왼쪽</span>
                          <span class="starR2-big">별3_오른쪽</span>
                          <span class="starR1-big">별4_왼쪽</span>
                          <span class="starR2-big">별4_오른쪽</span>
                          <span class="starR1-big">별5_왼쪽</span>
                          <span class="starR2-big">별5_오른쪽</span>
                        </div>
                      </div>
                    </div>
                    <div class="modal-comment-modify">
                      <div class="modal-comment-title">한줄평</div>
                      <div class="modal-comment-content">
                        <textarea class="comment-input" value="원래한출평" maxlength="200"></textarea>
                      </div>
                    </div>

                    <div class="modal-mood">
                      <div class="modal-mood-title">분위기</div>
                      <div class="modal-mood-item3">
                        <button type="button" class="messaging-button-checkbox" value="데이트">데이트</button>
                        <button type="button" class="messaging-button-checkbox" value="직장인">직장인</button>
                        <button type="button" class="messaging-button-checkbox" value="친구">친구</button>
                      </div>
                      <div class="modal-mood-item3">
                        <button type="button" class="messaging-button-checkbox" value="고급진">고급진</button>
                        <button type="button" class="messaging-button-checkbox" value="허름한">허름한</button>
                        <button type="button" class="messaging-button-checkbox" value="깔끔한">깔끔한</button>
                      </div>
                      <div class="modal-mood-item1">
                        <button type="button" class="messaging-button-checkbox" value="인테리어가 독특한">인테리어가 독특한</button>
                      </div>
                      <div class="modal-mood-item2">
                        <button type="button" class="messaging-button-checkbox" value="조용한">조용한</button>
                        <button type="button" class="messaging-button-checkbox" value="시끄러운">시끄러운</button>
                      </div>
                      <div class="modal-mood-item2">
                        <button type="button" class="messaging-button-checkbox" value="친절한">친절한</button>
                        <button type="button" class="messaging-button-checkbox" value="불친절한">불친절한</button>
                      </div>
                    </div>

                    <div class="modal-price">
                      <div class="modal-price-title">1인가격</div>
                      <div class="modal-price-content">
                        <div class="price-row">
                          <img class="checkbox-img" value="1만원 미만" src="/images/cb.png">
                          <div>1만원 미만</div>
                        </div>
                        <div class="price-row">
                          <img class="checkbox-img" value="1만원 대" src="/images/cb.png">
                          <div>1만원 대</div>
                        </div>
                        <div class="price-row">
                          <img class="checkbox-img" value="2~3만원 대" src="/images/cb.png">
                          <div>2~3만원 대</div>
                        </div>
                        <div class="price-row">
                          <img class="checkbox-img" value="4만원 이상" src="/images/cb.png">
                          <div>4만원 이상</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <div class="final-btn">
                      <div id="upload-detail-btn" class="upload-btn" data-dismiss="modal">완료</div>
                      <div id="cancel-detail-btn" class="cancel-btn" data-dismiss="modal">취소</div>
                    </div>
                  </div>
              </div>
            </div>

          </div>

          <div id="contents-list" class="contentlist">

          </div>
        </div>
      </div>
    </div>
				<script src="/js/swiper.js"></script>
        <!-- <script src="/js/bootstrap-toggle.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
        <script src="/js/jquery-1.11.1.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->

        <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://superal.github.io/canvas2image/canvas2image.js"></script>
        <!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script> -->
        <!-- <script type="text/javascript" src="base64js.min.js"></script> -->
        <script src="/js/base.js"></script>
        <script src="/js/chelinguide.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="/js/event.js"></script> -->
        <!-- <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script> -->
    </body>
</html>
