<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- <meta name="google-signin-client_id" content="1070723419509-ig3u8aapsfjn9ge421rervobr8409qtf.apps.googleusercontent.com"> -->
				<!-- <link rel="stylesheet" href="/css/swiper.css"> -->
				<link rel="stylesheet" href="/css/chelinguide.css">
        <!-- <link rel="stylesheet" href="/css/avail_area.css"> -->
        <!-- CSS stylesheet for sliding-swipe-menu -->
        <!-- <link rel="stylesheet" href="/css/slide-and-swipe-menu.css"> -->
        <!-- <link rel="stylesheet" href="/css/bootstrap-toggle.min.css"> -->
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body>
      <div id="chelinguide-room">
        <div class="avail-screen">
          <div id="back-to-lobby" class="back-button"></div>
          <div id="contents-bar" class="avail-bar">슐랭 가이드</div>
          <div id="category-bar" class="select-bar">
            <input id="place" class="place" type="text" placeholder="서울" disabled>
            <input id="place-detail" class="place-detail" type="text" placeholder="강남역" disabled>
            <div class="place-list-button" id="place-list-button" data-toggle="modal" data-target="#place-list">
              <b class="fas fa-chevron-down">
                ▼
              </b>
            </div>
            <input id="order" class="order" type="text" placeholder="별점순" disabled>
            <div class="order-list-button" id="order-list-button" data-toggle="modal" data-target="#order-list">
              <b class="fas fa-chevron-down">
                ▼
              </b>
            </div>
          </div>
          <div id="function-bar" class="function-bar">
            <div class="function-button" id="share-function-button">
              공유하기
            </div>
            <img src="/images/main-06.png" class="function-icon" id="share-function-icon">
            <div class="null-function-button"></div>

            <div class="function-button" id="add-function-button">
              추가하기
            </div>
            <img src="/images/main-05.png" class="function-icon" id="add-function-icon">
          </div>

          <div class="modal fade bd-example-modal-sm" id="order-list" tabindex="-1" role="dialog" aria-labelledby="orderList" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                  <div class="modal-content btn-group-vertical">
                      <div class="modal-body">
                          <button class="order-btn" onclick="selectSortBy(0)" data-dismiss="modal">별점순</button>
                          <button class="order-btn" onclick="selectSortBy(1)" data-dismiss="modal">최신순</button>
                          <button class="order-btn" onclick="selectSortBy(2)" data-dismiss="modal">이름순</button>
                      </div>
                  </div>
              </div>
          </div>

          <div id="contents-list" class="contentlist">

            <div id="content-1" class="food-content">
              <div class="food-title">1. 바비레드</div>
              <div class="food-info">
                <div class="food-thumbnail" style="background-image: url('/contents/pork cutlet_페이지_1.jpg');"></div>
                <div class="food-summary">
                  <div class="food-score">
                    <img src="/images/3.5점.png" id="content-1-score">
                  </div>
                  <div class="food-sentence">
                    <div class="food-eval">한줄평</div>
                    <div class="food-text">홍대점보다 훨씬 나은듯!</div>
                  </div>
                </div>
              </div>
            </div>

            <div id="content-2" class="food-content">
              <div class="food-title">2. 프리모바치오바치</div>
              <div class="food-info">
                <div class="food-thumbnail" style="background-image: url('/contents/pork cutlet_페이지_2.jpg');"></div>
                <div class="food-summary">
                  <div class="food-score">
                    <img src="/images/4.5점.png" id="content-2-score">
                  </div>
                  <div class="food-sentence">
                    <div class="food-eval">한줄평</div>
                    <div class="food-text">빠네가 굳!</div>
                  </div>
                </div>
              </div>
            </div>

            <div id="content-3" class="food-content">
              <div class="food-title">3. 어쩌구 식당</div>
              <div class="food-info">
                <div class="food-thumbnail" style="background-image: url('/images/main-09.png');"></div>
                <div class="food-summary">
                  <div class="food-score">
                    <img src="/images/3점.png" id="content-3-score">
                  </div>
                  <div class="food-sentence">
                    <div class="food-eval">한줄평</div>
                    <div class="food-text">괜찮은데 너무 비싼 감이 없지 않아 있는 것 같기도 하네요.</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
				<script src="/js/swiper.js"></script>
        <!-- <script src="/js/bootstrap-toggle.min.js"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script> -->
        <script src="/js/base.js"></script>
        <script src="/js/chelinguide.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="/js/event.js"></script> -->
        <!-- <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script> -->
    </body>
</html>
