<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!-- <meta name="google-signin-client_id" content="1070723419509-ig3u8aapsfjn9ge421rervobr8409qtf.apps.googleusercontent.com"> -->
				<link rel="stylesheet" href="/css/swiper.css">
				<link rel="stylesheet" href="/css/contents.css">
        <!-- <link rel="stylesheet" href="/css/avail_area.css"> -->
        <!-- CSS stylesheet for sliding-swipe-menu -->
        <!-- <link rel="stylesheet" href="/css/slide-and-swipe-menu.css"> -->
        <!-- <link rel="stylesheet" href="/css/bootstrap-toggle.min.css"> -->
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body>
      <div class="contents">
        <div class="avail-screen">
          <div id="back-to-lobby" class="back-button"></div>
          <div id="contents-bar" class="avail-bar">외식코기 컨텐츠</div>
          <div id="contents-list" class="contentlist">
            <div id="content-1" class="food-content">
              <div class="thumbnail" style="background-image: url('/contents/contents  vegan _페이지_1.jpg');"></div>
              <div class="content-text">
                  <div class="content-name">비건 고기는 고기맛이 날까</div>
                  <div class="content-date">19.02.17</div>
              </div>
            </div>
            <div id="content-2" class="food-content">
              <div class="thumbnail" style="background-image: url('/contents/pork cutlet_페이지_1.jpg');"></div>
              <div class="content-text">
                  <div class="content-name">3대 돈까스 도장깨기</div>
                  <div class="content-date">19.02.22</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-container close">
        <div id="contents-wrapper" class="swiper-wrapper"></div>
      </div>
      <div class="upperbar">
        <div id="back-button" class="back"></div>
      </div>
      <div class="lowerbar">
        <div class="swiper-scrollbar"></div>
      </div>
        <!-- jQuery library (served from Google) -->
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <!-- touchSwipe library -->
        <!-- <script src="http://labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.min.js"></script> -->
        <!-- Slider Javascript file -->
				<script src="/js/swiper.js"></script>
        <!-- <script src="/js/bootstrap-toggle.min.js"></script> -->
        <!-- <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script> -->
        <script src="/js/base.js"></script>
        <script src="/js/content.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <!-- <script src="/js/event.js"></script> -->
        <!-- <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script> -->
    </body>
</html>
