<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="google-signin-client_id" content="1070723419509-ig3u8aapsfjn9ge421rervobr8409qtf.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/index.css">
    <title>외식코기</title>
</head>

<body>
    <div class="card">
        <div id="main" class="card-body">
            <img class="title" src="/images/title.png" alt="title">
            <input class="form-control email" type="text" placeholder="아이디 (이메일)">
            <input class="form-control password" type="password" placeholder="비밀번호">
            <button class="login-btn" id="login-btn">로그인</button>
            <div class="help">
                <span id="find-info" data-toggle="modal" data-target="#find-pw">아이디/비밀번호 찾기</span>
                <span class="onetime" data-toggle="modal" data-target="#exampleModal">로그인없이 이용하기</span>
            </div>
            <div class="social-login">
                <div class="naver-login" id="naverIdLogin"></div>
                <!-- <img class="naver-login" src="/images/naver.png" alt="naver-login"> -->
                <img class="google-login" src="/images/google.png" alt="google-login">
            </div>


            <div class="modal fade" id="find-pw" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">비밀번호 재발급</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>가입하신 이메일 주소를 입력해주세요.</p>
                            <input class="form-control" type="email" id="signedup-email" placeholder="가입한 이메일">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="reissue-pw">임시 비밀번호 발급</button>
                        </div>
                    </div>
                </div>
            </div>

              <div class="signup">
                    <a href="/signup">
                        <img class="signup-deco" src="/images/signup-deco.png" alt="signup">
                        <span class="signup-btn">20초만에 회원가입하기</span>
                    </a>
              </div>
            <!-- <img src="/images/poodle.png" alt="" style="width: 90%;">

            <div id="naverIdLogin" style="margin-bottom:10px;"></div>
            <img class="google-login" src="/images/google2.png" alt="" style="margin-bottom: 10px;">

            <div class="g-signin2 google" data-onsuccess="onSignIn" style="display:none;"></div>

            <p class="by-email">
                <a class="login" href="/login">이메일로 로그인</a>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="signup" href="/signup">이메일로 회원가입</a>
            </p> -->

            <!-- Button trigger modal -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그인없이 이용하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    비로그인 사용자분들에게는 예약 및 맛집리스트 생성기능 등이 제한됩니다.
                  </div>
                  <div class="modal-footer">
                    <!-- <button type="button" id="unsigned" class="btn btn-secondary" onclick="location.href='/chat_unsigned'">그냥 이용하기</button> -->
                    <button type="button" id="unsigned" class="btn btn-secondary">그냥 이용하기</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">로그인하기</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- Naver Login -->
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
    <!-- Google Login -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Custom JS -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/index.js"></script>

</body>
</html>
