<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="google-signin-client_id" content="1070723419509-ig3u8aapsfjn9ge421rervobr8409qtf.apps.googleusercontent.com">
				<link rel="stylesheet" href="/css/swiper.css">
				<link rel="stylesheet" href="/css/lobby.css">
        <!-- <link rel="stylesheet" href="/css/avail_area.css"> -->
        <!-- CSS stylesheet for sliding-swipe-menu -->
        <link rel="stylesheet" href="/css/slide-and-swipe-menu.css">
        <!-- <link rel="stylesheet" href="/css/bootstrap-toggle.min.css"> -->
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body>
          <nav class="nav">
            <div class="bg">
              <div id="profile" class="profile-space">
                <div class="name-space"><div id="profile-name" class="name"></div></div>
                <div class="email-space"><div id="profile-email" class="email"></div></div>
                <div class="change-space"><div class="accountchange"><a>계정 변경</a></div></div>
              </div>
              <div id="wing-ask" class="ask-space">
                <div class="ask"><a>공지사항</a></div>
                <div class="ask"><a>FAQ</a></div>
                <div class="ask"><a class="onetoone-btn">1:1 문의</a></div>
              </div>
              <div class="alarm-space">
                <div id="alarm-setting" class="alarm">
                  <div class="option"><a>알림설정</a></div>
                  <div class="toggle-space">
                    <label class="switch">
                      <input id="toggle" type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="alarm"><a>Open source writing</a></div>
              </div>
              <div class="account-space">
                <div id="wing-logout" class="account"><a id="logout-btn">로그아웃</a></div>
                <div id="wing-withdraw" class="account"><a id="withdraw-btn">회원탈퇴</a></div>
                <div id="wing-login" class="account" style="display:none;"><a id="login-btn">로그인</a></div>
                <div id="wing-signup" class="account" style="display:none;"><a id="signup-btn">회원가입</a></div>
              </div>
              <div class="company-space">
                <div class="company-img"></div>
              </div>
            </div>
            <div class="transparent"></div>
          </nav>



		  			<div class="swiper-slide page">
		          <div class="upper-screen">
                <div class="bar"><div class="left-button"></div></div>
		            <div class="swiper-container">
		          		<div class="swiper-wrapper">
		                <div class="swiper-slide"><div class="color-bg" style="background-image: url('/images/color_bg_fst.png')">
                      <div class="character-img" style="background-image: url('/images/character_img_fst.png')">
                        <div class="text-img" style="background-image: url('/images/text_img_fst.png')"></div></div>
											<!-- <div class="pagination-space">
												<div class="pagination" style="background-image:url('/images/lobby_pagination_fst.png')"></div>
											</div>
											<div class="textimg-space">
													<div class="textimg" style="background-image:url('/images/lobby_textimg_up_fst.png')"></div>
											</div>
											<div class="button-space"><div class="choose-menu" onclick="location.href='/chat';"></div></div> -->
										</div></div>
										<div class="swiper-slide"><div class="color-bg" style="background-image: url('/images/color_bg_snd.png')">
                      <div class="character-img" style="background-image: url('/images/character_img_snd.png')">
                      <div class="text-img" style="background-image: url('/images/text_img_snd.png')"></div></div>
											<!-- <div class="pagination-space">
												<div class="pagination" style="background-image:url('/images/lobby_up_pagination.png')"></div>
											</div>
											<div class="textimg-space">
													<div class="textimg" style="background-image:url('/images/lobby_textimg_up_snd.png')"></div>
											</div>
											<div class="button-space"><div class="choose-menu" onclick="location.href='/chat';"></div></div> -->
										</div></div>
										<div class="swiper-slide"><div class="color-bg" style="background-image: url('/images/color_bg_trd.png')">
                      <div class="character-img" style="background-image: url('/images/character_img_trd.png')">
                      <div class="text-img" style="background-image: url('/images/text_img_trd.png')"></div></div>
											<!-- <div class="pagination-space">
												<div class="pagination" style="background-image:url('/images/lobby_pagination_trd.png')"></div>
											</div>
											<div class="textimg-space">
													<div class="textimg" style="background-image:url('/images/lobby_textimg_up_trd.png')"></div>
											</div>
											<div class="button-space"><div class="choose-menu" onclick="location.href='/chat';"></div></div> -->
										</div></div>
		              </div>
		            </div>
		          </div>

							<div class="lower-screen">
								<div class="available-space">
                  <div id="avail" class="service-btn">
									   <div class="plus-sign"></div><div class="available-textimg"></div>
                  </div>
								</div>
								<div class="feature-space">
									<div id="choose-rest" class="feature">
										<div class="soon" style="background-image: url('/images/lobby_choose_restaurant.png');"></div>
										<!-- <div class="emptyspace"></div> -->
										<!-- <div class="middlepoint-text"></div> -->
                    <!-- <div class="feature-text">식당 고르기</div> -->
									</div>
									<!-- <div class="border"></div> -->
                  <div id="choose-drink" class="feature">
										<div class="soon" style="background-image: url('/images/lobby_choose_drink.png');"></div>
										<!-- <div class="emptyspace"></div> -->
										<!-- <div class="middlepoint-text"></div> -->
                    <!-- <div class="feature-text">술집 고르기</div> -->
									</div>
									<!-- <div class="border"></div> -->
									<div id="choose-cafe" class="feature">
										<div class="soon" style="background-image: url('/images/lobby_soon.png');"></div>
									</div>
								</div>
								<div id="choose-middle" class="middlepoint-space">
									<div class="middlepoint"></div>
								</div>

                <div id="contents-btn" class="contents-btn">외식코기 컨텐츠 보기</div>
								<!-- <div class="company-space">
									<div class="company"></div>
								</div> -->
							</div>
		  			</div>

            <div class="story close">
              <div class="avail-screen">
                <div id="story-bar" class="avail-bar">와우</div>
                </div>
            </div>

            <div class="contents close">
              <div class="avail-screen">
                <div id="contents-bar" class="avail-bar">외식코기 컨텐츠</div>
                <div id="contents-list" class="contentlist">
                  <div id="content-1" class="food-content">
                    <div class="thumbnail" style="background-image: url('/images/food_content_1.jpg');"></div>
                    <div class="content-text">
                      <div class="content-name">3대 돈까스 맛집</div>
                      <div class="content-date">19.01.27</div>
                    </div>
                  </div>
                </div>
                <!-- <div class="handglass"></div>
                <div class="areatext"></div>
                <div class="city">서울</div>
                <div class="borderline"></div>
                <div class="stationlist" id="list"></div> -->
              </div>
            </div>

            <div class="avail-slide close">
              <div class="avail-screen">
                <div id="service-bar" class="avail-bar">서비스 지역</div>
                <div class="handglass"></div>
                <div class="areatext"></div>
                <div class="city">서울</div>
                <div class="borderline"></div>
                <div class="stationlist" id="station-list"></div>
              </div>
            </div>

            <div class="onetoone close">
              <div class="avail-screen">
                <div id="onetoone-bar" class="avail-bar">1:1 문의</div>
                <!-- <form class="question-form"> -->
                  <input id="question-name" type="text" class="question-account" style="margin: 7vh 0 0 0;" disabled></input>
                  <input id="question-email" type="text" class="question-account" disabled></input>
                  <select id="question-subject" class="custom-select">
                    <option class="init" disabled selected>주제를 선택해주세요</option>
                    <option value="0">일반 문의</option>
                    <option value="1">개선 및 제안</option>
                  </select>


                  <textarea id="question-content" type="text" class="question-content" placeholder="문의 사항을 적어주세요"></textarea>
                <!-- </form> -->
                <button class="question-send" type="button">보내기</button>
              </div>
            </div>


        <!-- jQuery library (served from Google) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>


        <!-- touchSwipe library -->
        <script src="http://labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.min.js"></script>

        <!-- Slider Javascript file -->
        <script src="/js/slide-and-swipe-menu.js"></script>
				<script src="/js/swiper.js"></script>
        <!-- <script src="/js/bootstrap-toggle.min.js"></script> -->
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <div class="ssm-overlay ssm-toggle-nav ssm-nav-visible"></div>

        <script>

          $(document).ready(() =>{
            var list=['강남역', '건대입구역', '광화문역', '뚝섬역', '망원역', '서울대입구역', '성수역', '사당역', '신사역', '여의도역', '역삼역', '을지로입구역', '이태원역', '종로3가역', '종각역', '합정역', '홍대입구역', '혜화역'];
            var i;
            for(i=0;i<list.length;i++){
              $('#station-list').append(`<div class="stationname">${list[i]}</div>`);
            }
          });

          $('#content-1, #story-bar').click(function(){
            $('.story').toggleClass('close');
          });

          $('.service-btn, #service-bar').click(function(){
              $('.avail-slide').toggleClass('close');
            });

          $('.onetoone-btn, #onetoone-bar').click(function(){
              $('.onetoone').toggleClass('close');
            });

          $('.contents-btn, #contents-bar').click(function(){
              $('.contents').toggleClass('close');
            });

          $("#toggle").change(function(){
            if($('#toggle').is(':checked')){
              console.log("checked");
            } else{
              console.log("unchecked");
            }
          })

          $('.question-send').click(() => {
      			let email = $('#question-email').val(),
      				name = $('#question-name').val(),
      				subject = $('#question-subject').val(),
      				text = $('#question-content').val();

            console.log('subject: '+subject);

            if(subject==='1'){
              subject='개선 및 제안';
            }
            if(subject==='0'){
              subject='일반 문의';
            }

      			if (subject === null) {
      				alert('문의 유형을 선택해주세요.');
      				return;
      			}
      			if (text === '') {
      				alert('내용을 입력해주세요.');
      				return;
      			}
      			$.ajax({
      				url: '/sendEmail',
      				async: true,
      				type: 'POST',
      				data: {
      					name: name,
      					email: email,
      					subject: subject,
      					message: text
      				},
      				dataType: 'text',
      				success: function () {
      					alert('작성하신 문의가 성공적으로 전송되었습니다.');
                $('.onetoone').toggleClass('close');
                // $('#question-subject')[0].value = 'undefined';
                // $('#question-content')[0].value = '';
                // $('.dropdown').find('input').attr('value', $(this).attr('id'));
                // $('.dropdown').find('input').attr('value', $(this).attr('id'));
                // $('.custom-select').text('주제를 선택해주세요');
                // $('#question-subject').attr('value','-1');
                $('.init').prop('disabled', false);
                $('.init').prop('selected', false);
                $('.init').prop('selected', true);
                $('.init').prop('disabled', true);
                $('#question-content').val('');
      				},
      				error: function () {
      					alert('전송에 실패했습니다.');
      				}
      			});
          });


          //
          // if($('#toggle').is(':checked')){
          //   console.log('checked');
          // } else{
          //   console.log('unchecked');
          // }

					var swiperImg = new Swiper('.swiper-container', {
			      slidesPerView: 'auto',
			      initialSlide: 0,
			      // resistanceRatio: 0,
			      slideToClickedSlide: false,
			    });
				</script>


        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->

        <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/base.js"></script>
        <script src="/js/lobby.js"></script>
        <!-- <script src="/js/event.js"></script> -->


        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    </body>
</html>
