<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="google-signin-client_id" content="1070723419509-ig3u8aapsfjn9ge421rervobr8409qtf.apps.googleusercontent.com">
				<link rel="stylesheet" href="/css/swiper.css">
				<link rel="stylesheet" href="/css/lobby.css">
        <!-- CSS stylesheet for sliding-swipe-menu -->
        <link rel="stylesheet" href="/css/slide-and-swipe-menu.css">
        <!-- <link rel="stylesheet" href="/css/bootstrap-toggle.min.css"> -->
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    </head>
    <body>
          <nav class="nav">
            <div class="bg">
              <div class="profile-space">
                <div class="name-space"><div id="profile-name" class="name"></div></div>
                <div class="email-space"><div id="profile-email" class="email"></div></div>
                <div class="change-space"><div class="accountchange"><a>계정 변경</a></div></div>
              </div>
              <div class="ask-space">
                <div class="ask"><a>공지사항</a></div>
                <div class="ask"><a>FAQ</a></div>
                <div class="ask"><a>1:1 문의</a></div>
              </div>
              <div class="alarm-space">
                <div class="alarm">
                  <div class="option"><a>알림설정</a></div>
                  <div class="toggle-space">
                    <label class="switch">
                      <input id="toggle" type="checkbox">
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
                <div class="alarm"><a>Open source writing</a></div>
              </div>
              <div class="account-space">
                <div class="account"><a>로그아웃</a></div>
                <div class="account"><a>회원탈퇴</a></div>
              </div>
              <div class="company-space">
                <div class="company-img"></div>
              </div>
            </div>

            <div class="transparent"></div>
          </nav>
          <div class="menu-button"></div>
		  			<div class="swiper-slide content">
		          <div class="upper-screen">
		            <div class="swiper-container">
		          		<div class="swiper-wrapper">
		                <div class="swiper-slide"><div class="upper-img" style="background-image: url('/images/lobby_bg_up_fst.png')">
											<div class="pagination-space">
												<div class="pagination" style="background-image:url('/images/lobby_pagination_fst.png')"></div>
											</div>
											<div class="textimg-space">
													<div class="textimg" style="background-image:url('/images/lobby_textimg_up_fst.png')"></div>
											</div>
											<div class="button-space"><div class="choose-menu" onclick="location.href='/chat';"></div></div>
										</div></div>
										<div class="swiper-slide"><div class="upper-img" style="background-image: url('/images/lobby_bg_up_snd.png')">
											<div class="pagination-space">
												<div class="pagination" style="background-image:url('/images/lobby_pagination_snd.png')"></div>
											</div>
											<div class="textimg-space">
													<div class="textimg" style="background-image:url('/images/lobby_textimg_up_snd.png')"></div>
											</div>
											<div class="button-space"><div class="choose-menu" onclick="location.href='/chat';"></div></div>
										</div></div>
										<div class="swiper-slide"><div class="upper-img" style="background-image: url('/images/lobby_bg_up_trd.png')">
											<div class="pagination-space">
												<div class="pagination" style="background-image:url('/images/lobby_pagination_trd.png')"></div>
											</div>
											<div class="textimg-space">
													<div class="textimg" style="background-image:url('/images/lobby_textimg_up_trd.png')"></div>
											</div>
											<div class="button-space"><div class="choose-menu" onclick="location.href='/chat';"></div></div>
										</div></div>
		              </div>
		            </div>
		          </div>

							<div class="lower-screen">
								<div class="available-space">
									<div class="plus-sign"></div>
									<div class="available-textimg"></div>
								</div>
								<div class="feature-space">
									<div class="feature">
										<div class="middlepoint-img"></div>
										<div class="emptyspace"></div>
										<div class="middlepoint-text"></div>
									</div>
									<div class="border"></div>
									<div class="feature">
										<div class="comingsoon"></div>
									</div>
									<div class="border"></div>
									<div class="feature">
										<div class="comingsoon"></div>
									</div>
								</div>
								<div class="guide-space">
									<div class="guide"></div>
								</div>
								<div class="company-space">
									<div class="company"></div>
								</div>
							</div>
		  			</div>

        <!-- jQuery library (served from Google) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>


        <!-- touchSwipe library -->
        <script src="http://labs.rampinteractive.co.uk/touchSwipe/jquery.touchSwipe.min.js"></script>

        <!-- Slider Javascript file -->
        <script src="/js/slide-and-swipe-menu.js"></script>
				<script src="/js/swiper.js"></script>
        <!-- <script src="/js/bootstrap-toggle.min.js"></script> -->
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        <div class="ssm-overlay ssm-toggle-nav ssm-nav-visible"></div>

        <script>

          $("#toggle").change(function(){
            if($('#toggle').is(':checked')){
              console.log("checked");
            } else{
              console.log("unchecked");
            }
          })
          //
          // if($('#toggle').is(':checked')){
          //   console.log('checked');
          // } else{
          //   console.log('unchecked');
          // }

					var swiperImg = new Swiper('.swiper-container', {
			      slidesPerView: 'auto',
			      initialSlide: 0,
			      // resistanceRatio: 0,
			      slideToClickedSlide: false,
			    });
				</script>


        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->

        <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/base.js"></script>
        <script src="/js/lobby.js"></script>



        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    </body>
</html>
