<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://spin.js.org/spin.css">
    <title>푸들</title>
</head>
<body>
    <div class="card">
        <h6 class="card-header">
            <a class="back-btn"><i class="fas fa-chevron-left"></i></a>
            <span class="page-title">회원가입</span>
            <span class="next-btn">다음</span>
            <span class="complete-btn">완료</span>
        </h6>
        <div class="tabs">
            <div id="basic-info" class="tab active">기본정보</div>
            <div id="additional-info" class="tab">부가정보</div>
        </div>
        <div id="signup" class="card-body">
            <div class="basic-info-form">
                <p>계정 정보</p>
                <div class="email">
                    <input id="email" type="email" placeholder="이메일">
                    <button type="button" class="platform-list-btn" data-toggle="modal" data-target="#platformList">
                        <i class="fas fa-at"></i>
                    </button>
                </div>
                <!-- 플랫폼 리스트 -->
                <div class="modal fade" id="platformList" tabindex="-1" role="dialog" aria-labelledby="platformList" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content btn-group-vertical">
                            <button class="platform-btn" onclick="selectEmailPlatform(0)" data-dismiss="modal">@naver.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(1)" data-dismiss="modal">@gmail.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(2)" data-dismiss="modal">@hanmail.net</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(3)" data-dismiss="modal">@daum.net</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(4)" data-dismiss="modal">@nate.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(5)" data-dismiss="modal">@hotmail.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(6)" data-dismiss="modal">직접 입력</button>
                        </div>
                    </div>
                </div>
                <div class="password">
                    <input id="password" type="password" placeholder="비밀번호">
                </div>
                <div class="password-help"></div>
                <p>약관 동의</p>
                <div class="terms">
                    <div><input type="checkbox"><label class="all-agree" onclick="agreeTerms(0)">전체동의</label></div>
                    <div>
                        <input type="checkbox">
                        <label class="access-terms-chk">
                            <span class="terms-color" onclick="agreeTerms(1)">이용약관</span>에 동의합니다.
                        </label>
                    </div>
                    <div>
                        <input type="checkbox">
                        <label class="data-terms-chk" >
                            <span class="terms-color" onclick="agreeTerms(2)">개인정보 취급방침</span>에 동의합니다.
                        </label>
                    </div>
                </div>
            </div>
            <div class="additional-info-form">
                <p>닉네임</p>
                <div class="nickname">
                    <input id="nickname" type="text" placeholder="닉네임">
                </div>
                <p>성별</p>
                <div class="gender">
                    <input id="male" type="radio" name="gender">
                    <label for="male">남성</label>
                    <input id="female" type="radio" name="gender">
                    <label for="female">여성</label>
                </div>
                <p>연령대</p>
                <div class="age-group">
                    <button class="age-select-btn" data-toggle="modal" data-target="#age-group-list">출생년도를 선택하세요</button> 년생
                    <div class="modal fade" id="age-group-list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">출생년도</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body birth-year-list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="spinner"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="/js/base.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>