<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://spin.js.org/spin.css">
    <title>외식코기</title>
</head>
<body>
    <div class="card">
        <h6 class="card-header">
            <a class="back-btn"><i class="fas fa-chevron-left"></i></a>
            <span class="page-title">회원가입</span>
        </h6>
        <div id="signup" class="card-body">
            <img class="logo" src="/images/logo.png" alt="logo">
            <div class="input-container">
                <div class="name-container">
                    <input id="first-name" class="first-name" type="text" placeholder="성">
                    <input id="last-name" class="last-name" type="text" placeholder="이름">
                </div>
                <div class="gender-container">
                    <input id="male" name="gender" type="checkbox">
                    <label class="gender-text" for="male">남자</label>
                    <input id="female" name="gender" type="checkbox">
                    <label class="gender-text" for="female">여자</label>
                </div>
                <div class="email-container">
                    <input id="email" class="email" type="text" placeholder="이메일">
                    <span class="at">@</span>
                    <input id="platform" class="platform" type="text" disabled>
                    <div class="platform-list-button" data-toggle="modal" data-target="#platform-list">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="password-container">
                    <div style="display: flex; align-items: flex-end; margin-bottom: 2%;">
                        <input id="password" type="password" class="password" placeholder="비밀번호">
                        <div class="password-complete">
                            <img src="/images/check.png" alt="">
                        </div>
                        
                    </div>
                    <span class="password-help">문자, 숫자, 특수문자 중 2가지 이상 포함, 8자리 이상</span>
                    <div style="display: flex; align-items: flex-end; margin-top: 3%;">
                        <input id="password-check" type="password" class="password-check" placeholder="비밀번호 확인">
                        <div class="password-complete">
                            <img src="/images/check.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="second-input-container">
                <div class="year-container">
                    <input class="year" type="text" placeholder="2018" disabled>
                    <div class="year-list-button" data-toggle="modal" data-target="#year-list">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <span style="color: #61451b; font-weight: 700;">년생</span>
                </div>
                <div class="phone-container">
                    <input class="phone-number" type="tel" placeholder="핸드폰 번호(- 제외)">
                </div>
                <div class="terms-container">
                    <div class="terms">
                        <input id="access-terms" type="checkbox">
                        <label class="terms-text" for="access-terms">이용약관에 동의합니다.</label>
                        <span class="show-terms" data-toggle="modal" data-target="#access-terms-modal">(보기)</span>
                    </div>
                    <div class="terms">
                        <input id="privacy-policy" type="checkbox">
                        <label class="terms-text" for="privacy-policy">개인정보 취급방침에 동의합니다.</label>
                        <span class="show-terms" data-toggle="modal" data-target="#privacy-policy-modal">(보기)</span>
                    </div>
                    <div class="terms">
                        <input id="all-agree" type="checkbox">
                        <label class="terms-text" for="all-agree">전체동의</label>
                    </div>
                </div>
            </div>
            
            
            
            <button class="next-button">다음</button>
            <button class="signup-button">회원가입</button>
            <!-- modal -->
            <div class="modal fade" id="platform-list" tabindex="-1" role="dialog" aria-labelledby="platformList" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content btn-group-vertical">
                        <div class="modal-body">
                            <button class="platform-btn" onclick="selectEmailPlatform(0)" data-dismiss="modal">naver.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(1)" data-dismiss="modal">gmail.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(2)" data-dismiss="modal">hanmail.net</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(3)" data-dismiss="modal">daum.net</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(4)" data-dismiss="modal">nate.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(5)" data-dismiss="modal">hotmail.com</button>
                            <button class="platform-btn" onclick="selectEmailPlatform(6)" data-dismiss="modal">직접 입력</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="year-list" tabindex="-1" role="dialog" aria-labelledby="platformList" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content btn-group-vertical">
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="access-terms-modal" tabindex="-1" role="dialog" aria-labelledby="platformList" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content btn-group-vertical">
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="privacy-policy-modal" tabindex="-1" role="dialog" aria-labelledby="platformList" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content btn-group-vertical">
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="spinner"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="/js/base.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>
    <script src="/js/signup.js"></script>
</body>
</html>