/* .chat {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 5000;
} */

*:focus {
    outline: 0 !important;
}

.link-line{
  background: #61451b;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.link-icon{
  margin-right: 5px;
}

.card-link{
  color: white;
}

.choice_card_content .card-link{
  color: white;
  position: absolute;
  bottom: 2%;
}
.choice_card_content a:hover{
  color: red;
}

#m {
  z-index: 10001;
}

#chat-room {
    /* display: none;
    position: fixed;
    right: 15px;
    bottom: 0px; */
    z-index: 1000;

    animation-duration: 0.5s;
    overflow:hidden;

    /* 추가 */
    justify-content: center;
    display: flex;
}
#chat-room .card {
    height: 100vh;

    /* 추가 */
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 5px 35px 9px #ccc;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1.5px solid #61451b;
}

.card-header .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: flex-start; */
}

.card-header .info .logo {
  width: 35%;
  margin: 0 4vw 0 2vw;
}

.card-header .title {
  color: #61451b;
  font-weight: 700;
  font-size: 18px;
}
.card-header i {
  color: #61451b;
}

.card-header .card-share {
  align-items: center;
}

.card-header .card-share #share-btn {
    border-radius: 0;
    padding: 0;
    height: inherit;
    border: 1px solid transparent;
    background: transparent;
}

.card-header i {
    font-size: 25px;
    cursor: pointer;
}

.card-body {
    height: 500px;
    overflow: scroll;
}

.card-body button {
  margin-bottom: 10px;
}

.bot-message {position: relative;}

.card-body .bot-message .message-info {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-end;
}

.loader {
  margin-top: -28px;
  margin-bottom: -25px;
  width: 50px;
  height: 50px;
}

.card-body .bot-message .message-info .image { margin-right: 10px; border-radius: 50%;}
.card-body .bot-message .message-info .name { margin-right: 5px; font-size: 15px; font-weight: 700; }
.card-body .bot-message .message-info .time { color: #666666; font-size: 13px; }
.card-body .bot-message .message-text {
    display: inline-block;
    position: relative;
    background: #fcc668;
    font-weight: 600;
    font-size: 17px;
    color: #61451b;
    max-width: 75%;
    max-height: 100%;
    margin: 0 0 10px 0;
    padding: 5px 12.5px;
    border-radius: 25px;
}

.card-body .bot-message .message-text::after {
    /* content: '';
    position: absolute;
    border-bottom: 10px solid #61451b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -9px;
    left: 10px; */
}

.message-button {
  display: inline;
  overflow: auto;
}

.messaging-button {
  border: 1px solid #61451b;
  color: #61451b;
  background-color: transparent;
  border-radius: 25px;
  padding: 7px 12.5px;
  margin-right: 3px;
  font-weight: 600;
}

.checkbox {
  display:none;
}

.messaging-button-checkbox {
  border: 1px solid #61451b;
  color: #61451b;
  background-color: transparent;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
}

.complete-button {
  border: 1px solid #4c3717;
  color: white;
  background-color: #4c3717;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.messaging-button-checkbox-checked {
  color: white;
  background-color: #61451b;
}

.get-started-button {
  border: 1px solid #61451b;
  color: #61451b;
  background-color: transparent;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.rest-img {
  border-radius: 15px;
  margin-bottom: 10px;
  height: 200px;
}

.card-body .user-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}
.card-body .user-message .message-info {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3%;
}
.card-body .user-message .message-info .time {
  color: #666666;
  font-size: 13px;
}

.card-body .user-message .message-text {
    display: inline-block;
    position: relative;
    background: #61451b;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    max-width: 75%;
    max-height: 100%;
    padding: 7px 12.5px;
    border-radius: 25px;
}

.card-body .user-message .message-text::after {
    /* content: '';
    position: absolute;
    border-bottom: 10px solid #61451b;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    top: -9px;
    right: 10px; */
}

.card-footer {
  background-color: #ffffff;
  border: none;
}
.card-footer i {
    font-size: 25px;
    cursor: pointer;
    color: #61451b;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 5px 7.5px;
}
.card-footer input {
  border: 1px solid #61451b;
  color: #61451b;
  font-weight: 600;
}
.card-footer input::placeholder {
  color: #61451b;
}
.card-footer input:disabled {
  background-color: #cccccc;
}
.card-footer input:focus {
  border: 1px solid #61451b;
  color: #61451b;
  font-weight: 600;
}
.non-active {
    opacity: 0.5;
    cursor: default!important;
}

.input-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-button {
  background-color: transparent;
  border: 0;
}

.ui-autocomplete{
  border-radius: 5px !important;
  margin-bottom: 10px !important;
  box-shadow: 0 1px 1px 1px #ccc !important;
}
.ui-state-active{
  background-color: #61451b !important;
  background: #61451b !important;
  border-radius: 5px !important;
  border-color: #61451b !important;
  box-shadow: 0 1px 1px 1px #ccc !important;
}

.choice_carousel {
  position: relative;
  display:flex;
  flex-direction: row;
  overflow-x: auto;
  /* overflow-y: scroll; */
  height: 404px;
  /* -webkit-overflow-scrolling:touch; */
  margin-bottom: 10px;
}

.arrow-left{
  position: absolute;
  top: 40%;
  opacity: 0.5;
  z-index: 999999;
}
.arrow-right{
  position: absolute;
  top: 40%;
  left: 90%;
  opacity: 0.5;
  z-index: 999999;
}


.choice_card {
  position: relative;
  display:flex;
  flex-direction: column;
  width: 220px;
  max-height: 100%;
  margin-right: 20px;
  border-radius: 10px;
  background: #61451b;
  color: #ffffff;
  box-shadow: 1px 3px 2px 1px #ccc;
}

.choice_card_winner {
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  top: 5px;
  width: 150px !important;
  height: 30px !important;
  z-index: 9999;
  /* border-radius: 5px !important; */
  /* background-color: rgba( 255, 255, 255, 0.5 ); */
}

.choice_card img{
  width: 220px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  /* border-radius: 10px 10px 0px 0px; */
}

.card-title {padding: 10px;}
.card-text {padding: 10px;}

::-webkit-scrollbar {
    display: none;
}

.carousel{
  max-width: 75vw;
}

.carousel-control-prev{
      left: 30%;
      top: 75%;
      opacity: 1;
}
.carousel-control-next{
      right: 30%;
      top: 75%;
      opacity: 1;
}
.carousel-control-prev-icon{
  border: 1px;
  border-radius: 2px;
  background: white;
  opacity: 0.3;
  background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon{
  border: 1px;
  border-radius: 2px;
  background: white;
  opacity: 0.3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

@media screen and (max-width: 600px) {
  #chat-room {
      display: flex;
      justify-content: center;
      left: 5px;
      right: 5px;
      /* bottom: 0px; */
      width: 100%;
      height: 100%;
      z-index: 10000;
      animation-duration: 0.5s;
  }

  #chat-room .card{
    /* width: 100%;
    height: 90%; */
    overflow: hidden;
  }
}

#config-modal button {
    background: #ffffff;
    border-radius: 0;
}

#config-modal2 button {
    background: #ffffff;
    border-radius: 0;
}

.decide-update-password, .decide-withdrawl {
    color: #ffffff;
    background-color: #ff7f8c!important;
    border: 1px solid #ff7f8c!important;
    width: 100%;
}

.collapse {
    margin-top: 30px;
}
