@font-face {
  font-family: 'yeogi';
  src: url('/fonts/ygotjalnanfont.ttf') format('truetype');
}

html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
}
body {
  /* background: #000; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

#chelinguide-room {
  display: flex;
  justify-content: center;
  /* background-color: rgba(220,220,220,0.3); */
  /* z-index: 1000; */
  animation-duration: 0.5s;
}

#chelinguide-room .avail-screen {
  height: 100vh;
  border-radius: 10px;
  /* width: 40vw; */
  width: 400px;
  box-shadow: 0 5px 35px 9px #ccc;

  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
  font-family: 'yeogi';
}
/*
.avail-screen{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex:1;
  width:100%;
  height:100%;
  background-color: #fff;
  overflow: hidden;
  font-family: 'yeogi';
} */


.avail-bar{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:100%;
  height:6vh;
  font-size: 3vh;
  background-image: url('/images/area_bar.png');
  background-position: center;
  background-size: cover;
}


.content-date{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 4vh;
  margin: 0 0 0 3vw;
  font-family: 'yeogi';
  font-size: 3.5vh;
}

.content-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75vw;
  height: 4vh;
  margin: 0 0 0 3vw;
  font-family: 'yeogi';
  font-size: 3.5vh;

}

.content-text{
  height: 8vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thumbnail{
  height: 8vh;
  width: 25vw;
  margin: 0 0 0 1vh;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.food-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  /* background-color: ; */
  /* border-top: 0.5px solid #000; */
  /* border-bottom: 0.5px solid #eee; */
  margin-left: 3vh;
  margin-bottom: 2vh;
}

.food-content .food-title{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width: 100%;
  height: 3vh;
}

.food-content .food-info{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  width: 100%;
  height: 7vh;
}

.food-content .food-info .food-thumbnail{
  width: 20%;
  height: 7vh;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.food-content .food-info .food-summary{
  width: 100%;
  height: 7vh;
}

.food-content .food-info .food-summary .food-score{
  width: 100%;
  height: 3vh;
}

.food-content .food-info .food-summary .food-score img{
  width: 113px;
  height: 23px;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.food-content .food-info .food-summary .food-sentence{
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
  width: 100%;
  height: 4vh;
}

.food-content .food-info .food-summary .food-sentence .food-eval{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  width: 20%;
  height: 4vh;
  font-size: 1.5vh;
  margin-left: 5%;
  line-height: 125%;
}

.food-content .food-info .food-summary .food-sentence .food-text{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  width: 60%;
  font-size: 1.5vh;
  line-height: 125%;
  height: 4vh;
}

.contentlist{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3vh 0 0 0;
  /* margin-left: 5%; */
  height: 80vh;
  width: 100%;
  border-top: 0.5px solid #eee;
}

.contents {
  position: fixed;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  /* transition: all 0.7s; */

}

.upperbar .back{
  display: flex;
  /* position: relative; */
  width: 5vh;
  height: 5vh;
  background-image: url('/images/back.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin:0 0 0 5vw;
}

.upperbar{
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  top: 0;
  display: none;
  background: #1C2833;
}

.lowerbar{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  bottom: 0;
  display: none;
  background: #1C2833;
}

.back-button{
  display: flex;
  position: absolute;
  justify-content: center;
  top: 1vh;
  left: calc(50vw - 180px);
  width: 4vh;
  height: 4vh;
  background-image: url('/images/back.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.place-button{
  display: flex;
  position: absolute;
  top: 6vh;
  left: 30vh;
  width: 80vh;
  height: 8vh;
  background-image: url('/images/main-02.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin:1vh 0 1vh 5vw;
}

.order-button{
  display: flex;
  position: absolute;
  top: 6vh;
  left: 70vh;
  width: 80vh;
  height: 8vh;
  background-image: url('/images/main-03.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin:1vh 0 1vh 5vw;
}

.select-bar {
  display: flex;
  text-align: center;
  justify-content: left;
  align-items: center;
  width:100%;
  height:6vh;
  font-size: 3vh;
  margin-top: 3vh;
}

.place {
    width: 12%;
    height: 3.5vh;
    border: 2px solid #61451b;
    border-right: transparent;
    text-align: center;
    margin-left: 5%;
    font-size: 2vh;
    /* margin-top: 4vh; */
}
.place-detail {
    width: 27%;
    height: 3.5vh;
    border: 2px solid #61451b;
    border-right: transparent;
    text-align: center;
    font-size: 2vh;
    /* margin-top: 4vh; */
}
.place-list-button {
    width: 6%;
    height: 3.5vh;
    border: 2px solid #61451b;
    border-left: transparent;
    text-align: center;
    /* margin-top: 4vh; */
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 2vh;
}
.place-list-button b {
    color: #61451b;
}

.order {
    width: 20%;
    height: 3.5vh;
    border: 2px solid #61451b;
    border-right: transparent;
    text-align: center;
    margin-left: 15%;
    font-size: 2vh;
    /* margin-top: 4vh; */
}
.order-list-button {
    width: 6%;
    height: 3.5vh;
    border: 2px solid #61451b;
    border-left: transparent;
    text-align: center;
    /* margin-top: 4vh; */
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 2vh;
}

.function-bar {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: left;
  align-items: center;
  width:100%;
  height:5vh;
  font-size: 2vh;
  margin-top: 1vh;
  margin-right: 9vh;
}
.add-function-button {
    display: flex;
    width: 24%;
    height: 5vh;
    text-align: center;
}
.null-function-button {
    display: flex;
    width: 4%;
    height: 5vh;
    text-align: center;
}
.share-function-button {
    display: flex;
    width: 24%;
    height: 5vh;
    text-align: center;
}

.function-icon {
    display: flex;
    width: 4vh;
    height: 4vh;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    margin-right: 25%;
}

input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: #ffffff;
    background-size: cover;
    border: 2px solid #61451b;
    line-height: 13px;
}

input[type=checkbox]:checked + label:before {
    content: "";
    background-image: url("./../images/check.png");
}

.modal-title {
  /* display: flex; */
  /* flex-direction: row; */
  margin: 0 auto;
  padding-bottom: 2vh;
  font-size: 3vh;
  /* justify-content: center;
  align-items: center; */
}

.back-button-modal {
  display: flex;
  position: absolute;
  top: 2vh;
  left: 4vw;
  width: 4vh;
  height: 4vh;
  background-image: url('/images/add7.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.back-button-lobby {
  display: flex;
  position: absolute;
  top: 2vh;
  left: 4vw;
  width: 4vh;
  height: 4vh;
  background-image: url('/images/back.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-body {
  padding: 0;
  overflow-y: scroll;
  height: 70vh;
}

/* ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: url('http://cdn.css-tricks.com/wp-content/themes/CSS-Tricks-10/images/header-demos.jpg');
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
} */

.modal-body .modal-res-image-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45vh;
  /* align-items: flex-start; */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.modal-body .modal-res-image-layout .modal-res-image-layout-left {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.modal-body .modal-res-image-layout .modal-res-image-layout-right {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.modal-body .modal-res-image-layout .modal-res-image-layout-center {
  display: flex;
  flex-direction: row;
  width: 45vh;
  height: 45vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.swiper-btn {
  display: flex;
  flex-direction: row;
  width: 7vh;
  height: 7vh;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
}
.res-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
}
.gray-btn {
  display: flex;
  color: gray;
}

.modal-body .modal-res-score-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 9vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.score-icon {
  display: flex;
  flex-direction: row;
  width: 45vh;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.modal-body .modal-res-img-swiper-ui {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3vh;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.modal-body .modal-res-foodtype-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4vh;
  justify-content: center;
  margin-top: 4vh;
  margin-bottom: 5vh;
}
.modal-body .modal-res-detail-info-wide {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.modal-detail-footer-btn {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.modal-body .modal-res-detail-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.modal-body .modal-res-detail-info .modal-comment-left {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
}
.modal-body .modal-res-detail-info .modal-resname-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 70%;
  border: none;
  border-bottom: 2px solid #61451b;
}
.modal-body .modal-res-detail-info-wide .modal-comment-left {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 100%;
}
.modal-body .modal-res-detail-info-wide .modal-resname-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 70%;
  border: none;
  border-bottom: 2px solid #61451b;
}




.modal-body .modal-subway {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4vh;
  align-items: flex-start;
  /* justify-content: left; */
  margin-bottom: 5vh;
}

.modal-body .modal-subway .modal-subway-left {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  width: 30%;
  height: 4vh;
  margin-left: 5%;
}

.modal-body .modal-subway .modal-subway-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 4vh;
  width: 20%;
}

.modal-body .modal-resname {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4vh;
  align-items: flex-start;
  justify-content: left;
  margin-bottom: 5vh;
}

.modal-body .modal-resname .modal-resname-left {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 4vh;
  margin-left: 5%;
  align-items: center;
}

.modal-body .modal-resname .modal-resname-right {
  display: flex;
  flex-direction: row;
  height: 4vh;
  width: 70%;
  border: none;
  border-bottom: 2px solid #61451b;
}

.modal-body .modal-score {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4vh;
  align-items: flex-start;
  justify-content: left;
  margin-bottom: 5vh;
}

.starR1{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

.modal-body .modal-score .modal-score-left {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 4vh;
  margin-left: 5%;
  align-items: center;
}

.modal-body .modal-score .modal-score-right {
  display: flex;
  flex-direction: row;
  height: 4vh;
  width: 70%;
  align-items: center;
}

.modal-body .modal-score .modal-score-right img {
  width: 113px;
  height: 23px;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
}

.modal-body .modal-score .modal-score-right .modal-score-select {
  /* width: 20%; */
  /* height: 23px; */
  display: flex;
  flex-direction:row;
  margin-left: 10px;
  justify-content: flex-end;
  align-items: flex-end;
}

.modal-body .modal-comment {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  /* align-items: flex-start; */
  /* justify-content: left; */
  margin-bottom: 8vh;
}

.modal-body .modal-comment .modal-comment-left {
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 10vh;
  margin-left: 5%;
  align-items: center;
}

.modal-body .modal-comment .modal-comment-right {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 10vh;
  font-size: 2vh;
}

.modal-body .modal-comment-detail {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 7vh;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  /* border:none; */
}

.modal-body .modal-comment-detail span{
  /* display: flex; */
  /* flex-direction: row; */
  /* width: auto; */
  /* height: 10vh; */
  align-items: center;
  justify-content: center;
  /* font-size: 2.3vh; */
  /* margin-bottom: 1vh; */
  border-bottom: 2px solid #FFFF00;
  padding-bottom: 3px;
  /* text-decoration: underline; */
  /* border: none; */
  /* border-bottom: 2px solid #61451b; */
}

.modal-body .modal-picture {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  align-items: flex-start;
  /* justify-content: left; */
  margin-bottom: 5vh;
}

.modal-body .modal-picture .modal-picture-left {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* width: 50%; */
  height: 30vh;
  width: 55%;
  margin-left: 5%;
  margin-right: 4vw;
}

.modal-body .modal-picture .modal-picture-left img {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
}

.modal-body .modal-picture .modal-picture-right {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 30vh;
  width: 45%;

  /* font-size: 2.7vh;
  text-align: left;
  color: #7f5607; */
}

.modal-body .modal-picture .modal-picture-right .modal-picture-right-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25vh;
  width: 80%;

  font-size: 2.7vh;
  text-align: left;
  color: #7f5607;
}

.modal-body .modal-picture .modal-picture-right .modal-picture-right-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  width: 100%;

  font-size: 0.5vh;
  /* text-align: left; */
  /* color: #7f5607; */
}

.modal-body .modal-mood {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.modal-body .modal-mood .modal-mood-title {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-bottom: 3vh;
  font-size: 20px;
}

.modal-body .modal-mood .modal-mood-item3 {
  display: grid;
  /* height: 50vh; */
  /* grid-gap: 20px; */
  grid-template-columns: 120px 120px 120px;
  text-align: center;
  justify-content: space-around;
  margin-top: 1vh;
  /* justify-content: flex-start; */
  /* align-content: space-evenly; */
  align-content: flex-start;
  font-size: 20px;
}

.modal-body .modal-mood .modal-mood-item1 {
  display:flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: 60px;
  padding-left: 3%;
  padding-right: 3%;
}

.modal-body .modal-mood .modal-mood-item2 {
  display: grid;
  /* height: 50vh; */
  /* grid-gap: 20px; */
  grid-template-columns: 120px 120px;
  text-align: center;
  justify-content: space-around;
  margin-top: 1vh;
  padding-left: 20%;
  padding-right: 20%;
  /* justify-content: flex-start; */
  /* align-content: space-evenly; */
  align-content: flex-start;
  font-size: 20px;
}

.modal-body .modal-price {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 40vh;
}

.modal-body .modal-price .modal-price-title {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-size: 20px;
  width: 25%;
  height: 100%;
}

.modal-body .modal-price .modal-price-content {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-bottom: 3vh;
  margin-top: 3vh;
  font-size: 20px;
  width: 75%;
  height: 100%;
  align-content: flex-start;
  text-align: justify;
  grid-column-gap: 3vh;
}

.price-row {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding-bottom: 2vh;
  vertical-align: bottom;

  /* width: 75%;
  height: 100%; */
}

.price-row img {
  width: 40px;
  height: 40px;
}

.price-row div {
  padding-top: 1.3vh;
}


.messaging-button-checkbox {
  border: 2px solid #ffc764;
  background-color: transparent;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px;
}
.messaging-button-checkbox.checked {
  /* border: 1px solid #61451b; */
  background-color: #ffc764;
  /* border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 3px; */
}

.modal-footer{
  padding: 0;
}

.modal-footer .final-btn{
  display: flex;
  flex-direction: row;
  height:8vh;
  width:100%;
  align-items: center;
  justify-content: space-around;
}

.modal-footer .upload-btn{
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  /* justify-content: space-between; */
  /* align-self: center; */
  /* align-items:  */
  margin-left: 4.5vw;
  align-items:flex-start;
  width: 30%;
  height: auto;
  font-size: 2.5vh;
  background-image: url('/images/add6.png');
  background-position: center;
  background-size: cover;
}

.modal-footer .cancel-btn{
  /* display: flex; */
  /* flex-direction: row; */
  text-align: center;
  /* justify-content: space-between; */
  /* align-items: center; */

  margin-right: 4.5vw;
  width: 30%;
  height: auto;
  font-size: 2.5vh;
  background-image: url('/images/add6.png');
  background-position: center;
  background-size: cover;
}

#place-list .modal-content button {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
    border: 0.5px solid #61451b;
    color: #61451b;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
}
#order-list .modal-content button {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
    border: 0.5px solid #61451b;
    color: #61451b;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
    /* font-size: 8px; */
}

.swiper-container {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  /* background: #fff; */
  background-color: #000;
  transition: all 0.2s;
}

.swiper-container.close{
  left: 100vw;
}

/* .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90vw;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

/* height > width */
@media screen and (max-aspect-ratio:4/3) {
  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90vw;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

/* width > height */
@media screen and (min-aspect-ratio:4/3) {
  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90vh;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
