.card {
    border: none;
    height: 100vh;
    text-align: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    width: 70%;
    margin-bottom: 80px;
}
.onetime{
  /* color: #fff; */
  /* background-color: #007bff; */
  /* border-color: #007bff; */
  /* margin: 3vh 0 0 0; */
  /* border-radius: 1.5vw; */
  /* width:45vw; */
  /* height:6vh; */
}
.email, .password {
    padding-left: 0;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #61451b;
    border-radius: 0;
    margin-bottom: 30px;
    color: #cccccc;
}
.login-btn {
    background-color: #61451b;
    border: 1px solid #61451b;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 0;
    width: 100%;
}
.help {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px 0;
    justify-content: space-between;
}
.help span {
    color: #bbbbbb;
    width: 40vw;
    /* font-weight: ; */
}
.social-login {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.naver-login, .google-login {
    height: 70px;
}
.signup {
  width: 100%;
  margin-top: 10%;
    /* width: 40vw; */
}
.signup-deco {
    /* position: relative; */
    width: 50vw;
}
.signup-btn {
    position: absolute;
    right: 25%;
    left: 25%;
    margin-top: 3%;
    font-size: 5vw;
    color: #61451b;
}
/* 비밀번호 찾기 */
#find-pw .modal-body {
    text-align: left;
}

#find-pw .modal-body p {
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#find-pw .modal-body input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none!important;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.15)!important;
    font-size: 14px;
}

#find-pw .modal-footer {
    justify-content: center;
    padding: 12px;
}

#find-pw .modal-footer:hover {
    color: #ff7f8c;
}

@media (max-width: 400px) and (min-width: 375px) {
    .naver-login, .google-login, .naver-login img {
        height: 60px;
    }
    .signup-deco {
        width: 55%;
    }
    .signup-btn {
        margin-top: 2.5%;
    }
}

@media (max-width: 374px) and (min-width: 350px) {
    .naver-login, .google-login, .naver-login img {
        height: 60px;
    }
    .signup-deco {
        width: 55%;
    }
    .signup-btn {
        font-size: 15px;
        margin-top: 2.5%;
    }
}

@media (max-width: 349px) {
    .naver-login, .google-login, .naver-login img {
        height: 50px;
    }
    .signup-deco {
        width: 60%;
    }
    .help span {
        font-size: 15px;
    }
    .signup-btn {
        font-size: 14px;
        margin-top: 2.5%;
    }
}
