#index-room {
    display: flex;
    justify-content: center;
    background-color: rgba(220,220,220,0.3);
    z-index: 1000;

    animation-duration: 0.5s;
}

#index-room .card {
      /* 추가 */
      /* justify-content: center;
      display: flex;
      animation-duration: 0.5s;
      border-radius: 10px;
      width: 400px; */
      /* height: 100vh; */
      border-radius: 10px;
      width: 400px;
      height: 100vh;
      box-shadow: 0 5px 35px 9px #ccc;
}


/* .card {
    border: none;
    height: 100vh;
    text-align: center;
} */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    width: 70%;
    margin-bottom: 80px;
}
.email, .password {
    padding-left: 0;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #61451b;
    border-radius: 0;
    margin-bottom: 30px;
    color: #cccccc;
}
.login-btn {
    background-color: #61451b;
    border: 1px solid #61451b;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 0;
    width: 100%;
}
.help {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px 0;
    justify-content: space-between;
}
.help span {
    color: #bbbbbb;
    width: 40vw;
    font-size: 15px;
    /* font-weight: ; */
}
.help .help-btn1 {
  color: #bbbbbb;
  width: 40vw;
  font-size: 15px;
  padding: 10px 0;
}
.help .help-btn2 {
  color: #bbbbbb;
  width: 40vw;
  font-size: 15px;
  padding: 10px 0;
}
.social-login {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
}

.social-login .naver-login {
  display: flex;
  flex-direction: column;
  height: 36px;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin-bottom: 1vh; */
}
.social-login #kakao-login-btn {
  display: flex;
  flex-direction: column;
  height: 36px;
  width: 166px;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-login div#kakao-login-btn {
  /* margin-bottom: 1vh; */
}
.social-login .g-signin2 {
  display: flex;
  flex-direction: column;
  height: 36px;
  width: 166px;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-login .fb-login-button {
  display: flex;
}


/* .signup {
  width: 100%;
  margin-top: 10%;
}
.signup-deco {
    width: 50vw;
}
.signup-btn {
    position: absolute;
    right: 25%;
    left: 25%;
    margin-top: 3%;
    font-size: 2vw;
    color: #61451b;
} */

.signup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1%;
  /* margin: 15px 0; */

  justify-content: space-between;
  /* justify-content: center; */
  /* align-items: center; */
}
.signup-deco {
  width: 100%;
}
.signup-btn {
  position: absolute;
  right: 25%;
  left: 25%;
  margin-top: 5%;
  font-size: 120%;
  color: #61451b;
}
/* 비밀번호 찾기 */
#find-pw .modal-body {
    text-align: left;
}

#find-pw .modal-body p {
    font-size: 13px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#find-pw .modal-body input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: none!important;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.15)!important;
    font-size: 14px;
}

#find-pw .modal-footer {
    justify-content: center;
    padding: 12px;
}

#find-pw .modal-footer:hover {
    color: #ff7f8c;
}

@media (max-width: 400px) and (min-width: 375px) {
    .naver-login, .google-login, .naver-login img {
        height: 60px;
    }
    .signup-deco {
        width: 55%;
    }
    .signup-btn {
        margin-top: 2.5%;
    }
}

@media (max-width: 374px) and (min-width: 350px) {
    .naver-login, .google-login, .naver-login img {
        height: 60px;
    }
    .signup-deco {
        width: 55%;
    }
    .signup-btn {
        font-size: 15px;
        margin-top: 2.5%;
    }
}

@media (max-width: 349px) {
    .naver-login, .google-login, .naver-login img {
        height: 50px;
    }
    .signup-deco {
        width: 60%;
    }
    .help span {
        font-size: 15px;
    }
    .signup-btn {
        font-size: 14px;
        margin-top: 2.5%;
    }
}
