*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
  font-family: 'yeogi';
  src: url('/fonts/ygotjalnanfont.ttf') format('embedded-opentype');

}

ul * {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html, body {
  position: relative;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  outline: 0;
}
body {
  /* background-color: #fafafa */
}
span {
  color: #555;
  /* padding: 5px 0 10px; */
  /* display: inherit; */
}

.back-button{
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 4vh;
  height: 4vh;
  background-image: url('/images/exit.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin:1vh 5vw 1vh 0;
}

.view-container{
  height: 94vh;
  width: 100vw;
  overflow: scroll;
  background-color: #000;
}

.contents-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'yeogi';
  width: 100vw;
  height: 10vh;
  background-color: #F9E79F;
}

.init{
  color: #eee;
}

.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}

.mark{
  margin: 0 0 0 10vw;
  width: 5vw;
  height: 5vw;
  background-color: #000;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* color: #999; */
  background: url('/images/select_box_arrow.png') no-repeat 95% center/10%;
}

/*Styling Selectbox*/
.custom-select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3vh 0 0 0;
  width: 70vw;
  height: 5.5vh;
  padding: 0 0 0 2.5vw;
  /* bqrder-radius: 1vw 2vw 3vw 4vw; */
  border-radius: 2vw;
  border: 0.5vw solid #eee;
  /* transition: all .5s ease; */
  position: relative;
  background-color: #fff;
  font-size: 2vh;
  /* text-align: left; */
  font-family: 'yeogi';
}
.custom-select .select {
    /* cursor: pointer; */
    /* display: block; */
    /* display: none; */
    /* justify-content: center;
    align-items: center;
    padding: 0 0 0 3vw;
    font-family: 'yeogi'; */
}
.question-subject{
  width: 20vw;
  height: 3vh;
}

.question-subject:focus{
  outline-width:0;
}

.question-send{
 margin: 6vh 0 0 0;
 width: 40vw;
 height: 6vh;
 border: none;
 /* border-radius: 1vw 2vw 3vw 4vw; */
 border-radius: 2vw;
 background-color: #FFC300;
 font-family: 'yeogi';
 font-size: 3vh;
}

.question-send:focus{
  outline-width:0;
}

.subject-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3vh 0 0 0;
  width: 60vw;
  height: 5vh;
}

.question-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* position: relative; */
  width: 90vw;
  height: 60vh;
  background-color: #DC7633;
  margin: 5vh 0 0 0;
  border-radius: 2vh;
}

.question-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-radius: 1vw 2vw 3vw 4vw; */
  border-radius: 2vw;
  border: none;
  padding: 0 0 0 3vw;
  /* border-radius: 1vh; */
  /* position: relative; */
  margin: 3vh 0 0 0;
  width: 70vw;
  height: 5.5vh;
  font-family: 'yeogi';
  font-size: 2vh;
  color: #000000;
  background: rgba(0,0,0,0.1);
}

/* .question-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  border-radius: 2vw;
  border: none;
  padding: 0 0 0 3vw;
  margin: 3vh 0 0 0;
  width: 60vw;
  height: 5vh;
  font-family: 'yeogi';
  font-size: 2vh;
  color: #000000;
} */
.picture{
  /* position: relative; */
  display: flex;
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 30vh 0;
}

.story-bar{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  width:100%;
  height:6vh;
  font-size: 3vh;
  /* background-image: url('/images/area_bar.png'); */
  background-position: center;
  background-size: cover;

}

.story {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  /* background-color: #000; */
  transition: all 0.5s;

}

.story.close {
  left: 100vw;
}


.content-date{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 3vh;
  margin: 0 0 0 3vw;
  font-family: 'yeogi';
  font-size: 4vw;
}

.content-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
  height: 5vh;
  margin: 0 0 0 3vw;
  font-family: 'yeogi';
  font-size: 4vw;

}

.content-text{
  height: 8vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thumbnail{
  height: 8vh;
  width: 25vw;
  margin: 0 0 0 1vh;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.food-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10vh;
  background-color: #eee;
}

.question-content {
  margin: 3vh 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  height: 40vh;
  font-family: 'yeogi';
  font-size: 1.5vh;
  line-height: 150%;
  border-radius: 2vw;
  border: 0.5vw solid #eee;
  padding: 2vw 1.5vw 0 1.5vw;
  /* flex-wrap: nowrap; */
  overflow-y: scroll;
  resize: none;
}

.question-content:focus{
  outline-width:0;
}
/*
.contentlist::-webkit-scrollbar {
  width: 2vw;
}


.contentlist::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1vw;
}


.contentlist::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  background: #919191;
}


.contentlist::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.contentlist{
  /* -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none !important; */
  /* background-color: #eee; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3vh 0 0 0;
  height: 70vh;
  width: 100vw;
  /* background-color: #eee; */
  overflow-y: scroll;
  /* flex-wrap: nowrap; */
}

/* width */
.stationlist::-webkit-scrollbar {
  width: 2vw;
}

/* Track */
.stationlist::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 1vw;
}

/* Handle */
.stationlist::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  background: #919191;
}

/* Handle on hover */
.stationlist::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.avail-screen{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex:1;
  width:100%;
  height:100%;
  background-color: #fff;
  overflow: hidden;
  font-family: 'yeogi';
}

.avail-bar{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  width:100%;
  height:6vh;
  font-size: 3vh;
  background-image: url('/images/area_bar.png');
  background-position: center;
  background-size: cover;

}

.handglass{
  width:25vh;
  height:25vh;
  margin: 6vh 0 0 0;
  background-image: url('/images/handglass.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.areatext{
  width:60vw;
  height:10vh;
  margin: 3vh 0 0 0;
  background-image: url('/images/areatext.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.city{
  font-size: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh 0 0 0;
  width: 80vw;
  height: 5vh;
}

.borderline{
  width: 80vw;
  height:1vh;
  margin: 0 0 2vh 0;
  background-image: url('/images/borderline.png');
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

.stationlist{
  /* -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none !important; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 35vh;
  width: 80vw;
  /* background-color: #eee; */
  overflow-y: scroll;
  /* flex-wrap: nowrap; */
}

.stationname{
  /* display: flex; */
  /* position: relative; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 4vh;
  height: 10vh;
  font-size: 2.5vh;
  /* font-size: 4vh; */
  width: 50vw;
  /* background-color: #eee; */
  margin: 1vh 0 1vh 0;
  /* overflow: scroll; */
}


.avail-open{
  overflow: hidden;
}

.is-navOpen{
  overflow: hidden;
}

a {
    color: #0A4A3C;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

nav.nav {
    color: #fff;
}

.contents {
  position: absolute;
  z-index: 8;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.7s;

}

.contents.close {
  top: 100vh;
  /* height: 100vh; */
  /* width: 100vh; */
}

.avail-slide {
  position: absolute;
  z-index: 6;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.7s;

}

.avail-slide.close {
  top: 100vh;
  /* height: 100vh; */
  /* width: 100vh; */
}

.onetoone {
  position: absolute;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.7s;

}

.onetoone.close {
  top: 100vh;
  /* height: 100vh; */
  /* width: 100vh; */
}


.bar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width:100%;
  height:6vh;
  /* margin: 1vh 0  0; */
  background-color: #fff;
  /* border-bottom: 1px solid red; */
}

.left-button {
  /* position: absolute; */
  /* top: 0px; left: 0px; */
  height:3vh;
  width:7vw;
  /* padding: 6%; */
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0vh 0 0 2.5vw;
  /* padding: 0 0 0 0; */
  /* background-color: #2C8DFB; */
  /* height:;
  width:10%; */
  background-image: url( "/images/lobby_left_button.png" );
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*margin: 14px;
  border-radius: 5px;*/
  z-index: 3;
}

.info-space{
  display:flex;
  width:100%;
  height:20%;
  align-items: center;
  justify-content: center;
  /* background: rgba(255,0,0,0); */
  /* margin-bottom: 1%; */
}
.info-space .info{
  width:80%;
  height:100%;
  background-image: url('/images/lobby_info.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.middlepoint-space{
  /* padding-top:3%; */
  display:flex;
  width:100vw;
  height:10vh;
  margin: 2vh 0 0 0;
  align-items: center;
  justify-content: center;
  /* margin: 2vh 0 0 0; */
  /* background-color: #eee; */
  /* background: rgba(255,0,0,0); */
  /* margin: 10 5 10 5; */
  /* padding-left: 4%; */
  /* margin-right: 3px; */
  /* background-image: url('/images/lobby_middlepoint_bg.png'); */
}

.middlepoint {
  display: flex;
  flex-direction: row;

  width:100vw;
  height:10vh;
  /* background-image: url('/images/lobby_guide.png'); */
  background-image: url('/images/lobby_choose_middlepoint.png');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.feature-space{
  display:flex;
  /* background:rgba(255, 0, 0, 0); */
  width:95%;
  height:40%;
  align-items: center;
  /* padding: 1%; */
  margin: 2vh 0 2vh 0;
  justify-content: space-between;
  /* padding-left: 3%; */
  /* padding-right: 3%; */
  /* padding-top: 3%; */
  flex-direction: row;
  /* padding-right: 5%; */
}
.feature-space .feature{
  display:flex;
  flex-direction:column;
  /* align-items: flex-start; */
  justify-content: flex-start;
  /* background:rgba(255, 0, 0, 0); */
  /* background-color: #eee; */
  /* background: rgba(255,0,0,0); */
  width:30%;
  height:100%;
}
.feature-space .border{
  align-items: center;
  justify-content: center;
  background-image: url('/images/lobby_border.png');
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  width:1%;
}

.feature-text {
  font-family: 'yeogi';
  font-size: 2vh;
  text-align: center;
  margin: 2vh 0 0 0;
  color: #873600;
}
/* .feature-space .feature .emptyspace{

  height:10%;
  width:75%;
} */
.feature-space .feature .feature-img{
  /* align-items: flex-start; */
  /* justify-content: center; */
  /* align-self: flex-start; */
  /* display:flex; */
  background-position: top;
  /* background-image: url('/images/lobby_rest_img.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  /* flex:1; */
  height:100%;
  width:100%;
  /* margin: 0 0 1vh 0; */
}

/* .feature-space .feature .-text{
  display: flex;
  background-image: url('/images/lobby_middlepoint_text.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex:1;
  height:50%;
  width:75%;
} */

.feature-space .feature .soon{
  /* align-items: flex-start; */
  /* justify-content: center; */
  /* align-self: flex-start; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex:1;
  height:100%;
  width:100%;
}

.available-space{
  display:flex;
  /* background: rgba(255, 0, 0, 0); */
  width:100%;
  height:5vh;
  /* overflow: hidden; */
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 5vw;
  margin: 2vh 0 0 0;
  /* margin: 0 0 0 10vw; */
  flex-direction: row;
}

.service-btn{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  width: 60vw;
  height: 4vh;
  cursor: pointer;
}

a .onetoone-btn{

}

.plus-sign{
  /* align-items: center; */
  /* justify-content: center; */
  background-image: url('/images/lobby_plus.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width:3vh;
  height:3vh;
}
.available-textimg{
  /* align-items: center; */
  /* justify-content: flex-s; */
  background-image: url('/images/lobby_available_textimg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width:45vw;
  height:4vh;
  margin: 0 0 0 2vw;
}



.textimg-space{
  /* position: fixed; */
  /* top: 0px; */
  /* left: 0px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 15%;
  /* margin: 1vh 0 0 0; */
  /* margin-right: 5%; */
  background-color: rgba( 255, 255, 255, 0 );
  /* opacity: 0; */
  /* padding: 3%; */
}
.text-img{
  position: absolute;
  top: 13vh;
  right: 5vw;
  background-repeat:no-repeat;
  background-position: right;
  background-size: contain;
  /* justify-content: center; */
  /* align-items: center; */
  width: 65vw;
  height: 10vh;
  margin: 0 0 0 0;
  /* padding: 5vh 3vw 0 0; */

  /* z-index: 2; */
}
.button-space{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width:100%;
  height:25%;
  margin: 2vh 0 0 0;
}
.button-space .choose-menu{
  /* flex:1; */
  cursor: pointer;
  /* justify-content: center; */
  /* align-items: flex-start; */
  background-image: url('/images/lobby_choose_menu.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 50%;
  height: 70%;
  margin: 0 3vw 0 0;
}

.pagination-space{
  /* display: inline-block; */
  /* text-align: center; */
  /* position: absolute; */
  /* top: 0px; */
  /* top: 15px; */
  display: flex;
  width: 100%;
  height: 10%;
  /* margin: 0 0 1vh 0; */
  /* padding: 0 0 3vh 0; */
  /* opacity: 1; */
  /* z-index: 1; */
  overflow: hidden;
  align-items: flex-end;
  justify-content: center;
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  /* margin-left: 30%; */
  /* margin-right: 30%; */
}
.pagination{
  display:flex;
  display:-webkit-flex;
  flex-flow: wrap;
  -webkit-flex-flow: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: flex-end;
  -webkit-align-items: center;
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center;
  width: 20%;
  height: 25%;
  margin: 0 0 1vh 0;
  /* background: rgba(255, 0, 0, 0.5); */
  /* display:inline-block; */
  /* position: relative;
  bottom:0px;
  margin-top: 23px;
  width: 62px;
  height: 8px; */
}
.swiper-container-menu {
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.upper-screen{
  display: flex;
  flex-direction:column;
  /* align-items: center; */
  /* justify-content: center; */
  -webkit-flex: 1;
          flex: 1;
  /* background-color: #eee; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* margin: 0 0 2vh 0; */
  /* height: 55%; */
  /* left: 0px; */
  /* top: 0px; */
  /* z-index: 1; */
  /* order: 3; */
}
.lower-screen{
  /* position: absolute; */
  flex-direction:column;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  -webkit-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  /* left:0px; */
  /* bottom:0px; */
  /* background-color: #fff; */
  /* z-index: 1; */
  /* vertical-align: baseline; */
}
.color-bg{
  position: relative;
  background-color:#fff;
  flex-direction: column;
  display:flex;
  /* -webkit-flex: 1 1 0;
          flex: 1 1 0; */
  /* text-align: center; */
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  /* left: 0px; */
  /* top: 0px; */
  /* order: 2; */
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
  /* background-origin:  */
}
.character-img{
  position: absolute;
  display:flex;
  align-items: flex-start;
  justify-content: flex-end;
  width:100vw;
  height: 55vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  /* z-index:3; */
}


.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  /* background: #fff; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}

.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;
  background-color: #2C8DFB;
  color: #fff;
}
.page {
  width: 100%;
  flex-direction: column;
  /* background-color: rgba(0,0,0, 0.4);
  overflow-x: hidden; */
  /* background-image: url("/images/lobby_fullscreen.png"); */
  /* background-repeat: no-repeat;
  background-size: contain;
  background-position: top; */
}
