/* 카드 */
.card {
    border: none;
    height: 100vh;
}

.card-header {
    background-color: #61451b;
    text-align: center;
}

.card-header .back-btn {
    float: left;
    cursor: pointer;
}
.card-header .back-btn i {
    color: #ffffff;
}

.card-header .page-title {
    color: #ffffff;
}

.card-header .complete-btn {
    float: right;
    cursor: pointer;
    display: none;
}

/* 가입 폼 */
input:focus {
    outline: none;
}
input {
    color: #61451b;
    font-weight: 500;
}
input::placeholder {
    color: #bbbbbb;
}
.card-body {
    padding: 1.25rem 2rem;
}
.input-container {
    padding: 0 15px;
}

.second-input-container {
    padding: 0 15px;
    display: none;
}
.logo {
    width: 50%;
    margin: 5% 25% 15% 25%;
}

.name-container {
    display: flex;
}

.name-container input {
    border: none;
    border-bottom: 2px solid #61451b;
}

.first-name {
    width: 30%;
    margin-right: 20%;
}

.last-name {
    width: 50%;
}

.gender-container {
    margin-top: 10%;
}
input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
    margin-right: 25%;
}

input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: #ffffff;
    background-size: cover;
    border: 2px solid #61451b;
    line-height: 13px;
}

input[type=checkbox]:checked + label:before {
    content: "";
    background-image: url("./../images/check.png");
}

.gender-text {
    color: #61451b;
    font-weight: 600;
    font-size: 18px;
}

.email-container {
    margin-top: 10%;
    display: flex;
}

.email {
    width: 45%;
    border: none;
    border-bottom: 2px solid #61451b;
}
.at {
    width: 10%;
    text-align: center;
    color: #61451b;
}
.platform {
    width: 35%;
    border: 2px solid #61451b;
    border-right: transparent;
    text-align: center;
}
.platform-list-button {
    width: 10%;
    border: 2px solid #61451b;
    text-align: center;
}
.platform-list-button i {
    color: #61451b;
}
.password-container {
    margin-top: 10%;
}
.password, .password-check {
    border: transparent;
    border-bottom: 2px solid #61451b;
    padding-bottom: 5px;
    width: 95%;
}
.password-help {
    color: red;
    font-size: 14px;
    font-weight: 600;
}
.password-complete {
    width: 5%;
    height: 5%;
    padding-bottom: 5px;
    border-bottom: 2px solid #61451b;
}
.password-complete img {
    display: none;
}

.next-button, .signup-button {
    color: #61451b;
    border: transparent;
    border-radius: 4px;
    background-color: #fcc668;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    padding: 10px;
    margin-top: 20%;
}

.signup-button {
    display: none;
}

/* 두번째 페이지 */

.year-container {
    display: flex;
    margin-top: 10%;
}
.year {
    width: 30%;
    border: 2px solid #61451b;
    border-right: transparent;
    text-align: center;
}
.year-list-button {
    width: 10%;
    border: 2px solid #61451b;
    text-align: center;
    margin-right: 5px;
}

.year-list-button i {
    color: #61451b;
}
.phone-container {
    margin-top: 10%;
}
.phone-number {
    border: none;
    border-bottom: 2px solid #61451b;
    width: 100%;
}
.terms-container {
    margin-top: 15%;
}
.terms {
    display: flex;
    align-items: center;
    margin-bottom: 7.5px;
}
.terms:last-child {
    margin-top: 15%;
}
.terms-text {
    font-size: 17px;
    font-weight: 700;
    color: #61451b;
    margin-bottom: 0;
    margin-right: 10px!important;
}

.show-terms {
    color: #aaaaaa;
    font-size: 14px;
    opacity: 1;
}
/* 모달 */

.modal-body {
    overflow: scroll;
    padding: 0;
}
#platform-list .modal-content button {
    width: 100%;
    padding: 10px 0;
    background-color: #ffffff;
    border: 0.5px solid #61451b;
    color: #61451b;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
}

#year-list .modal-body {
    width: 100%;
    height: 100%;
}
/* #year-list .modal-content .birth-year {
    padding: 10px 0 10px 20px;
    border: 0.5px solid #61451b;
    color: #61451b;
    font-weight: 500;
} */
#year-list .modal-content .birth-year {
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  border: 0.5px solid #61451b;
  color: #61451b;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}
