/* 카드 */
.card {
    border: none;
    height: 100vh;
}

.card-header {
    background-color: #ffffff;
    text-align: center;
}

.card-header .back-btn {
    float: left;
    cursor: pointer;
    color: black;
}

.card-header .next-btn {
    float: right;
    cursor: pointer;
}

.card-header .complete-btn {
    float: right;
    cursor: pointer;
    display: none;
}

/* 탭 */
.tabs {
    height: 45px;
    display: flex;
}
.tab {
    width: 50%;
    height: 50px;
    position: relative;
    background: #666666;
    text-align: center;
    color: #ffffff;
    padding: 12.5px 0px;
}
#additional-info:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 15px solid #ff7f8c;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
}
.active {
    background: #ff7f8c;
}
#additional-info.active:after {
    border-left-color: #666666;
}

/* 가입 폼 */

.basic-info-form {
    /* display: none; */
}
.additional-info-form {
    display: none;
}

/* 계정 정보 입력 */
.email {
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,.15)!important;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;

}

.email .platform-list-btn {
    color: #ffffff;
    background-color: rgba(0, 0, 0, .3);
    border: rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.password, .nickname {
    border: 1px solid rgba(0,0,0,.15)!important;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;

}

.gender {
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
}
.password-help {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}
.email input, .password input, .nickname input, .age-group input {
    display: block;
    width: 100%;
    /* margin-bottom: 10px; */
    font-size: 16px;
}

.email input:focus, .password input:focus, .nickname input:focus, .age-group input:focus {
    outline: none!important;
}

.age-select-btn {
    border: 1px solid #d3d3d3;
    background: #d3d3d3;
    padding: 5px 20px;
}

#age-group-list .modal-body {
    padding: 0;
}
.birth-year {
    border-bottom: 1px solid #666666;
    padding: 10px 0px 10px 10px;
}


.terms-color {
    color: #ff7f8c;
    text-decoration: underline;
    font-weight: 600;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    font-size: 12px;
    line-height: 20px;
    text-decoration-color: rgba(0,0,0,.4);
    color: rgba(0,0,0,.5);
}

input[type=checkbox] + label:before {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0px;
    background-image: url("./../images/check.png");
    background-size: cover;
    border: 1px solid #d2dae2;
    border-radius: 3px;
    line-height: 13px;
}

input[type=checkbox]:checked + label:before {
    content: "";
    background-image: url("./../images/checked.png");
    border: 1px solid #ff7f8c;
}

.all-agree {
    text-decoration: none!important;
    font-weight: 700;
    font-size: 15px!important;
}
.all-agree:before {
    width: 25px!important;
    height: 25px!important;
}

.access-terms:before, .data-terms:before {
    margin-left: 7px;
}

.platform-btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    /* border-bottom: 1px solid rgba(0, 0, 0, .15); */
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.platform-btn:focus {
    outline: none;
}

/* 모달 */

.modal-body {
    height: calc(100vh - 155px);
    overflow: scroll;
}

/* 컬랩스 */

.collapse .card {
    height: 20vh;
    overflow: scroll;
}